.footer {
    background: url('./assets/bar.svg') repeat-x;
    background-size: contain;
    background-color: rgb(39, 39, 38);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    position: fixed;
    bottom: 0;
    height: 5vh;
    width: 100%;
}

.flareContainer {
    width: 100%;
    overflow: hidden;
}

.flare {
    position: relative;
    left: 100%;
    bottom: 0%;
    animation: show-flare 6s ease-out infinite;
    animation-delay: 2s;
    opacity: 0;
    z-index: 2;
    height: 10vh;
    width: 10vh;
}

@keyframes show-flare {
    10% {
        opacity: 1
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        left: 0;
    }
}

.cornerImage {
    height: 120%;
}